<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>703934851473-0cvimhe8lho2bgshli4iin1t9mgc7eek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703934851473-0cvimhe8lho2bgshli4iin1t9mgc7eek</string>
	<key>API_KEY</key>
	<string>AIzaSyAbRigZWWURlTtXjzBRVF0Ih4AuF4zWOBM</string>
	<key>GCM_SENDER_ID</key>
	<string>703934851473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adincebic.Zerina-MovieMoment</string>
	<key>PROJECT_ID</key>
	<string>zerinamoviemoment</string>
	<key>STORAGE_BUCKET</key>
	<string>zerinamoviemoment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703934851473:ios:cf59f88678197227</string>
	<key>DATABASE_URL</key>
	<string>https://zerinamoviemoment.firebaseio.com</string>
</dict>
</plist>